{% extends 'base.html.twig' %}

{% block title %}Ma boutique - Mon profil{% endblock %}

{% block body %}
    <h1>Hello {{ user.firstname }} {{ user.lastname }}</h1>
    {{ form(form) }}
{% endblock %}
