{% extends 'base.html.twig' %}

{% block title %}Ma boutique - Merci{% endblock %}

{% block body %}
    <h3>Votre commande a bien été prise en compte. Nous nous chargons de tout à présent. Merci</h3>

{% endblock %}